@model AreasDataBase.Models.ResidentialBuilding

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ResidentialBuilding</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HouseNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HouseNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfConstruction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfConstruction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumbersOfFloors)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumbersOfFloors)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Street.NameStreet)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdResidentialBuilding">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
