@model IEnumerable<AreasDataBase.Models.ResidentialBuilding>

@{
    ViewData["Title"] = "Index";
}

<h1>Список домов</h1>

<p>
    <a asp-action="Create">Добавить новую запись</a>
</p>
<form id="searchForm" asp-action="Index">
    <div class="input-group md-form form-sm form2 pl-0">
        <input id="searchString" name="searchString" class="form-control my-0 py-1 red-border" type="text" placeholder="Поиск" aria-label="Search" value="" />
        <div class="input-group-append">
        </div>
        <select id="searchColumn" name="searchColumn" class="form-control" value="">
            <option value="houseNumber">Номер дома</option>
            <option value="YearOfConstruction">Год постройки</option>
            <option value="NumbersOfFloors">Количество этажей</option>
            <option value="streetName">Название улицы</option>
            <!-- Add more options for other columns if needed -->
        </select>
        <button type="submit" class="btn btn-primary">Поиск</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["HouseNumberSortParam"]">@Html.DisplayNameFor(model => model.HouseNumber)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["YearOfConstructionSortParam"]">@Html.DisplayNameFor(model => model.YearOfConstruction)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NumbersOfFloorsSortParam"]">@Html.DisplayNameFor(model => model.NumbersOfFloors)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StreetNameSortParam"]">@Html.DisplayNameFor(model => model.Street.NameStreet)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HouseNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearOfConstruction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumbersOfFloors)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street.NameStreet)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdResidentialBuilding">Редактировать</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdResidentialBuilding">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
    <script>
        $(function () {
            // При отправке формы сохраняем значения в localStorage
            $("#searchForm").submit(function () {
                localStorage.setItem("searchString", $("#searchString").val());
                localStorage.setItem("searchColumn", $("#searchColumn").val());
            });

            // При загрузке страницы восстанавливаем значения из localStorage
            var savedSearchString = localStorage.getItem("searchString");
            var savedSearchColumn = localStorage.getItem("searchColumn");

            if (savedSearchString) {
                $("#searchString").val(savedSearchString);
            }

            if (savedSearchColumn) {
                $("#searchColumn").val(savedSearchColumn);
            }
        });
    </script>
}
