@model IEnumerable<AreasDataBase.Models.ResidentialBuilding>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HouseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfConstruction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumbersOfFloors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HouseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfConstruction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumbersOfFloors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street.NameStreet)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdResidentialBuilding">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdResidentialBuilding">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdResidentialBuilding">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
