@model IEnumerable<AreasDataBase.Models.City>

@{
    ViewData["Title"] = "Список городов";
}

<h1>Список городов</h1>

<p>
    <button type="button" onclick="location.href='@Url.Action("Create")'">Добавить новую запись</button>
</p>

<form id="searchForm" asp-action="Index">
    <div class="input-group md-form form-sm form2 pl-0">
        <input id="searchString" name="searchString" class="form-control my-0 py-1 red-border" type="text" placeholder="Поиск" aria-label="Поиск" value="" />
        <div class="input-group-append">
        </div>
        <select id="searchColumn" name="searchColumn" class="form-control" value="">
            <option value="nameCity">Название города</option>
            <option value="postalCode">Почтовый код</option>
            <option value="areaName">Название области</option>
            <!-- Добавьте другие опции для других столбцов при необходимости -->
        </select>
        <button type="submit" class="btn btn-primary">Поиск</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameCitySortParam"]">@Html.DisplayNameFor(model => model.NameCity)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PostalCodeSortParam"]">@Html.DisplayNameFor(model => model.PostalCode)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AreaNameSortParam"]">@Html.DisplayNameFor(model => model.Area.NameArea)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area.NameArea)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCity" class="btn btn-edit">Редактировать</a>
                    <a asp-action="Delete" asp-route-id="@item.IdCity" class="btn btn-delete">Удалить</a>
                </td>

            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(function () {
            // При отправке формы сохраняем значения в localStorage
            $("#searchForm").submit(function () {
                localStorage.setItem("searchString", $("#searchString").val());
                localStorage.setItem("searchColumn", $("#searchColumn").val());
            });

            // При загрузке страницы восстанавливаем значения из localStorage
            var savedSearchString = localStorage.getItem("searchString");
            var savedSearchColumn = localStorage.getItem("searchColumn");

            if (savedSearchString) {
                $("#searchString").val(savedSearchString);
            }

            if (savedSearchColumn) {
                $("#searchColumn").val(savedSearchColumn);
            }
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.7/signalr.min.js"></script>

    <script>
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/updateHub") // Путь к хабу
            .build();

        connection.on("SendUpdateNotification", function () {
            location.reload(true);
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });
    </script>
}
