@model IEnumerable<AreasDataBase.Models.Citizen>

@{
    ViewData["Title"] = "Index";
}

<h1>Список граждан</h1>

<p>
    <button type="button" onclick="location.href='@Url.Action("Create")'">Добавить новую запись</button>
    <button id="exportExcelButton">Экспорт в Excel</button>
    <button id="exportWordButton">Экспорт в Word</button>
</p>





<form id="searchForm" asp-action="Index">
    <div class="input-group md-form form-sm form2 pl-0">
        <input id="searchString" name="searchString" class="form-control my-0 py-1 red-border" type="text" placeholder="Поиск" aria-label="Поиск" value="@ViewBag.CurrentFilter" />
        <div class="input-group-append"></div>
        <select id="searchColumn" name="searchColumn" class="form-control">
            <option value="fullName">Полное имя</option>
            <option value="passportData">Паспортные данные</option>
            <option value="phoneNumber">Номер телефона</option>
            <option value="dateOfBirth">Дата рождения</option>
            <option value="gender">Пол</option>
            <option value="apartmentNumber">Номер квартиры</option>
            <option value="city">Название города</option>
            <option value="district">Название района</option>
            <option value="street">Название улицы</option>
            @* <option value="houseNumber">Номер дома</option> *@
        </select>
        <button type="submit" class="btn btn-primary">Поиск</button>
    </div>
</form>


<div id="table-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["FullNameSortParam"]">@Html.DisplayNameFor(model => model.FullName)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["PassportSortParam"]">@Html.DisplayNameFor(model => model.PassportData)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["PhoneNumberSortParam"]">@Html.DisplayNameFor(model => model.PhoneNumber)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DateOfBirthSortParam"]">@Html.DisplayNameFor(model => model.DateOfBirth)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["GenderSortParam"]">@Html.DisplayNameFor(model => model.Gender)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["CitySortParam"]">@Html.DisplayNameFor(model => model.Apartment.ResidentialBuilding.Street.District.City.NameCity)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["DistrictSortParam"]">@Html.DisplayNameFor(model => model.Apartment.ResidentialBuilding.Street.District.NameDistrict)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["StreetSortParam"]">@Html.DisplayNameFor(model => model.Apartment.ResidentialBuilding.Street.NameStreet)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["HouseNumberSortParam"]">@Html.DisplayNameFor(model => model.Apartment.ResidentialBuilding.HouseNumber)</a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["ApartmentSortParam"]">@Html.DisplayNameFor(model => model.Apartment.ApartmentNumber)</a>
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PassportData)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td>
                        @if (item.Gender == true)
                        {
                            <span>Мужской</span>
                        }
                        else
                        {
                            <span>Женский</span>
                        }
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Apartment.ResidentialBuilding.Street.District.City.NameCity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apartment.ResidentialBuilding.Street.District.NameDistrict)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apartment.ResidentialBuilding.Street.NameStreet)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apartment.ResidentialBuilding.HouseNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apartment.ApartmentNumber)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdCitizen" class="btn-edit">Редактировать</a> 
                        <a asp-action="Delete" asp-route-id="@item.IdCitizen" class="btn-delete">Удалить</a>
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts {
    <script>
        $(function () {
            // При отправке формы сохраняем значения в localStorage
            $("#searchForm").submit(function () {
                localStorage.setItem("searchString", $("#searchString").val());
                localStorage.setItem("searchColumn", $("#searchColumn").val());
            });

            // При загрузке страницы восстанавливаем значения из localStorage
            var savedSearchString = localStorage.getItem("searchString");
            var savedSearchColumn = localStorage.getItem("searchColumn");

            if (savedSearchString) {
                $("#searchString").val(savedSearchString);
            }

            if (savedSearchColumn) {
                $("#searchColumn").val(savedSearchColumn);
            }
        });
    </script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.7/signalr.min.js"></script>

    <script>
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/updateHub") // Путь к хабу
            .build();

        connection.on("SendUpdateNotification", function () {
            location.reload(true);
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });
    </script>

    <script>
        document.getElementById('exportExcelButton').addEventListener('click', function () {
            window.location.href = '@Url.Action("ExportCitizensToExcel", "Citizens")';
        });

        document.getElementById('exportWordButton').addEventListener('click', function () {
            window.location.href = '@Url.Action("ExportCitizensToWord", "Citizens")';
        });

    </script>

}
