@model IEnumerable<AreasDataBase.Models.Citizen>

@{
    ViewData["Title"] = "Index";
}

<h1>Список граждан</h1>

<p>
    <a asp-action="Create">Добавить нового гражданина</a>
</p>

<form id="searchForm" asp-action="Index">
    <div class="input-group md-form form-sm form2 pl-0">
        <input id="searchString" name="searchString" class="form-control my-0 py-1 red-border" type="text" placeholder="Поиск" aria-label="Поиск" value="" />
        <div class="input-group-append">
        </div>
        <select id="searchColumn" name="searchColumn" class="form-control" value="">
            <option value="fullName">Полное имя</option>
            <option value="passportData">Паспортные данные</option>
            <option value="phoneNumber">Номер телефона</option>
            <option value="dateOfBirth">Дата рождения</option>
            <option value="gender">Пол</option>
            <option value="apartment">Квартира</option>
        </select>
        <button type="submit" class="btn btn-primary">Поиск</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["FullNameSortParam"]">@Html.DisplayNameFor(model => model.FullName)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PassportSortParam"]">@Html.DisplayNameFor(model => model.PassportData)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PhoneNumberSortParam"]">@Html.DisplayNameFor(model => model.PhoneNumber)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateOfBirthSortParam"]">@Html.DisplayNameFor(model => model.DateOfBirth)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GenderSortParam"]">@Html.DisplayNameFor(model => model.Gender)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ApartmentSortParam"]">@Html.DisplayNameFor(model => model.Apartment.ApartmentNumber)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PassportData)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apartment.ApartmentNumber)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCitizen">Редактировать</a> |
                    <a asp-action="Details" asp-route-id="@item.IdCitizen">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCitizen">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(function () {
            // При отправке формы сохраняем значения в localStorage
            $("#searchForm").submit(function () {
                localStorage.setItem("searchString", $("#searchString").val());
                localStorage.setItem("searchColumn", $("#searchColumn").val());
            });

            // При загрузке страницы восстанавливаем значения из localStorage
            var savedSearchString = localStorage.getItem("searchString");
            var savedSearchColumn = localStorage.getItem("searchColumn");

            if (savedSearchString) {
                $("#searchString").val(savedSearchString);
            }

            if (savedSearchColumn) {
                $("#searchColumn").val(savedSearchColumn);
            }
        });
    </script>
}
