@model IEnumerable<AreasDataBase.Models.Apartment>

@{
    ViewData["Title"] = "Список квартир";
}

<h1>Список квартир</h1>

<p>
    <button type="button" onclick="location.href='@Url.Action("Create")'">Добавить новую запись</button>
</p>

<form id="searchForm" asp-action="Index">
    <div class="input-group md-form form-sm form2 pl-0">
        <select id="searchColumn" name="searchColumn" class="form-control custom-select">
            <option value="apartmentNumber" selected>Номер квартиры</option>
            <option value="numberOfRooms">Количество комнат</option>
            <option value="area">Площадь</option>
            <option value="residentialBuilding.houseNumber">Номер дома</option>
            <option value="residentialBuilding.Street.NameStreet">Название улицы</option>
            <option value="residentialBuilding.Street.District.NameDistrict">Название района</option>
            <option value="residentialBuilding.Street.District.City.NameCity">Название города</option>
        </select>
        <div class="input-group-append"></div>
        <input id="searchString" name="searchString" class="form-control my-0 py-1 red-border" type="text" placeholder="Поиск" aria-label="Поиск" />
        <button type="submit" class="btn btn-primary">Поиск</button>
        <button type="button" id="resetSearch" class="btn btn-secondary">Сбросить</button>
    </div>
</form>



<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ApartmentNumberSortParam"]">@Html.DisplayNameFor(model => model.ApartmentNumber)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NumberOfRoomsSortParam"]">@Html.DisplayNameFor(model => model.NumberOfRooms)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AreaSortParam"]">@Html.DisplayNameFor(model => model.Area)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ResidentialBuildingSortParam"]">@Html.DisplayNameFor(model => model.ResidentialBuilding.HouseNumber)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StreetSortParam"]">@Html.DisplayNameFor(model => model.ResidentialBuilding.Street.NameStreet)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DistrictSortParam"]">@Html.DisplayNameFor(model => model.ResidentialBuilding.Street.District.NameDistrict)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CitySortParam"]">@Html.DisplayNameFor(model => model.ResidentialBuilding.Street.District.City.NameCity)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ApartmentNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfRooms)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
                <td>
                    @(item.ResidentialBuilding?.HouseNumber ?? "Неизвестный номер дома")
                </td>
                <td>
                    @(item.ResidentialBuilding?.Street?.NameStreet ?? "Неизвестная улица")
                </td>
                <td>
                    @(item.ResidentialBuilding?.Street?.District?.NameDistrict ?? "Неизвестный район")
                </td>
                <td>
                    @(item.ResidentialBuilding?.Street?.District?.City?.NameCity ?? "Неизвестный город")
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdApartment" class="btn btn-edit">Редактировать</a>
                    <a asp-action="Delete" asp-route-id="@item.IdApartment" class="btn btn-delete">Удалить</a>
                </td>

            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(function () {
            // При отправке формы сохраняем значения в localStorage
            $("#searchForm").submit(function () {
                localStorage.setItem("searchString", $("#searchString").val());
                localStorage.setItem("searchColumn", $("#searchColumn").val());
            });

            // При нажатии на кнопку "Сбросить" очищаем значения в localStorage
            $("#resetSearch").click(function () {
                console.log("Сброс кнопки нажат");
                localStorage.removeItem("searchString");
                localStorage.removeItem("searchColumn");
                $("#searchString").val("");  // Очищаем значение поля ввода
                $("#searchColumn").val("");  // Очищаем значение выпадающего списка
            });

            var savedSearchString = localStorage.getItem("searchString");
            var savedSearchColumn = localStorage.getItem("searchColumn");

            if (savedSearchString) {
                $("#searchString").val(savedSearchString);
            }

            if (savedSearchColumn) {
                $("#searchColumn").val(savedSearchColumn);
            }
        });

    </script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.7/signalr.min.js"></script>

    <script>
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/updateHub") // Путь к хабу
            .build();

        connection.on("SendUpdateNotification", function () {
            location.reload(true);
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });
    </script>
    <script>
        document.getElementById('resetSearch').addEventListener('click', function () {
            document.getElementById('searchForm').reset();

            window.location.href = '@Url.Action("Index", "Apartments")';
        });
    </script>
}
