@model IEnumerable<AreasDataBase.Models.Apartment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApartmentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfRooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResidentialBuilding)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApartmentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResidentialBuilding.IdResidentialBuilding)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdApartment">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdApartment">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdApartment">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
