@model IEnumerable<AreasDataBase.Models.District>

@{
    ViewData["Title"] = "Index";
}

<h1>Список районов</h1>

<p>
    <button type="button" onclick="location.href='@Url.Action("Create")'">Добавить новую запись</button>
</p>

<form id="searchForm" asp-action="Index">
    <div class="input-group md-form form-sm form2 pl-0">
        <select id="searchColumn" name="searchColumn" class="form-control custom-select">
            <option value="nameDistrict" selected>Название района</option>
            <option value="cityName">Название города</option>
        </select>
        <div class="input-group-append"></div>
        <input id="searchString" name="searchString" class="form-control my-0 py-1 red-border" type="text" placeholder="Поиск" aria-label="Поиск" />
        <button type="submit" class="btn btn-primary">Поиск</button>
        <button type="button" id="resetSearch" class="btn btn-secondary">Сбросить</button>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameDistrictSortParam"]">@Html.DisplayNameFor(model => model.NameDistrict)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CityNameSortParam"]">@Html.DisplayNameFor(model => model.City.NameCity)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameDistrict)
                </td>
                <td>
                    @(item.City?.NameCity ?? "Неизвестный город")
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdDistrict" class="btn btn-edit">Редактировать</a>
                    <a asp-action="Delete" asp-route-id="@item.IdDistrict" class="btn btn-delete">Удалить</a>
                </td>

            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(function () {
            // При отправке формы сохраняем значения в localStorage
            $("#searchForm").submit(function () {
                localStorage.setItem("searchString", $("#searchString").val());
                localStorage.setItem("searchColumn", $("#searchColumn").val());
            });

            // При нажатии на кнопку "Сбросить" очищаем значения в localStorage
            $("#resetSearch").click(function () {
                console.log("Сброс кнопки нажат");
                localStorage.removeItem("searchString");
                localStorage.removeItem("searchColumn");
                $("#searchString").val("");  // Очищаем значение поля ввода
                $("#searchColumn").val("");  // Очищаем значение выпадающего списка
            });

            var savedSearchString = localStorage.getItem("searchString");
            var savedSearchColumn = localStorage.getItem("searchColumn");

            if (savedSearchString) {
                $("#searchString").val(savedSearchString);
            }

            if (savedSearchColumn) {
                $("#searchColumn").val(savedSearchColumn);
            }
        });

    </script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.7/signalr.min.js"></script>

    <script>
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/updateHub") // Путь к хабу
            .build();

        connection.on("SendUpdateNotification", function () {
            location.reload(true);
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });
    </script>

    <script>
        document.getElementById('resetSearch').addEventListener('click', function () {
            document.getElementById('searchForm').reset();

            window.location.href = '@Url.Action("Index", "Districts")';
        });
    </script>
}
